In [85]:
import pandas as pd
import numpy as np
from sklearn import metrics 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [86]:
df= pd.read_csv('Student-Pass-Fail-Data.csv')
df.head()

   Self_Study_Daily  Tution_Monthly  Pass_Or_Fail
0                 7              27             1
1                 2              43             0
2                 7              26             1
3                 8              29             1
4                 3              42             0

In [92]:
Y= df['Pass_Or_Fail']
Y.shape
Y

0      1
1      0
2      1
3      1
4      0
      ..
995    1
996    1
997    0
998    1
999    0
Name: Pass_Or_Fail, Length: 1000, dtype: int64

In [93]:
X= df.drop('Pass_Or_Fail' , axis=1)
X.shape
X

     Self_Study_Daily  Tution_Monthly
0                   7              27
1                   2              43
2                   7              26
3                   8              29
4                   3              42
..                ...             ...
995                 6              22
996                 9              30
997                 3              39
998                 7              25
999                 5              37

[1000 rows x 2 columns]

In [95]:
# splitting the data:

X_train,X_test,Y_train,Y_test = train_test_split( X,Y,test_size=0.2 )
X_train.shape , X_test.shape , Y_train.shape , Y_test.shape

((800, 2), (200, 2), (800,), (200,))

In [96]:
logistic_regression = LogisticRegression()

In [97]:
logistic_regression.fit(X_train , Y_train)

LogisticRegression()

In [99]:
y_pred= logistic_regression.predict( X_test )

In [101]:
# FINDING ACCURACY OF OUR MODEL :-

accuracy = metrics.accuracy_score(Y_test, y_pred)
accuracy_percentage = 100 * accuracy
accuracy_percentage

97.0

In [105]:
# predicting whether our friend with following chafracteristics fail or pass:-

# self-study=4 , # tuition = 38

friend_result = logistic_regression.predict( (np.array([4,38])).reshape(1,-1) )
friend_result

array([0])

In [109]:
friend_result = logistic_regression.predict( (np.array([8,30])).reshape(1,-1) )
friend_result

array([1])